# Node modules (for both frontend and backend)
/node_modules/
/Frontend/node_modules/
/Backend/node_modules/
# Keep environment variables out of version control
/Backend/.env

/Backend/src/generated/prisma